<script>
  function calculations() {
    return {
      car: JSON.parse(document.getElementById("result").dataset.car),
      selectedPower: 220,
      availablePowers: {
        220: {volt: 220, amp: 13},
        110: {volt: 110, amp: 15}
      },
      startingSoc: 20,
      targetSoc: 80,
      kwh_price_rate: 0.16,
      charging_efficiency: 0.9,
      calculateWatt(){
        const {volt, amp} = this.availablePowers[this.selectedPower]
        return volt * amp
      },
      calculateRangeAtPercentage(percentage){
        return Math.floor((percentage / 100) * this.car.range_in_km);
      },
      calculateChargingTime(){
        const capacityToFill = this.getCapacityToFill();
        const absoluteHours = this.car.battery_size / ((this.calculateWatt() /1000) * this.charging_efficiency)
        const hours = Math.floor(absoluteHours);
        const minutes = Math.floor((absoluteHours - hours) * 60);
        const hoursText = `${hours} hours`;
        const minutesText = `${minutes} minutes`;
        if (hours && minutes) return `${hoursText} and ${minutesText}`;
        if (hours) return hoursText;
        return minutesText;
      },
      calculateChargingCost(){
        return this.kwh_price_rate * this.getCapacityToFill();
      },
      getCapacityToFill(){
        return ((this.targetSoc - this.startingSoc) / 100) * this.car.battery_size;
      }
    };
   }
</script>
<div>
  <div class="flex flex-col lg:flex-row justify-center items-center pt-16">
    <div class="flex-1">
      <%= live_component @socket, HeroImage %>
    </div>
    <div class="flex-1 pt-6 font-hero text-center opacity-90 text-indigo-900
                text-4xl leading-normal tracking-widest">
      <p>Esitmate</p>
      <p>the ⏰ and 💰</p>
      <p>of ⚡ EV 🚗</p>
    </div>
  </div>
</div>
<%= if !@selected_car.name do %>
  <form
    phx-submit="select-car"
    phx-change="suggest-car"
    class="flex flex-col justify-center items-center pt-16"
    autocomplete="off">
    <input
      type="text"
      name="car"
      value="<%= @car %>"
      list="matches"
      placeholder="Lucid Air Concept 🇸🇦"
      class="w-2/3 h-16 shadow-lg text-lg text-center block sm:text-sm border-gray-300 rounded-md">
      <%= if @not_found do %>
        <div class="text-red-500 text-center">not found</div>
      <% end %>
      <datalist id="matches">
        <%= for match <- @matches do %>
          <option value="<%= match.name %>"><%= match.name %></option>
        <% end %>
      </datalist>
    </form>
    <div class="flex flex-col justify-center items-center pt-20">
      <%= live_component @socket, ArrowImage %>
      <p class="text-gray-600 pt-12 opacity-80 leading-10 tracking-widest">We have many EVs 🔌</p>
      <div class="flex justify-center items-center pb-4">
        <p class="text-gray-600 opacity-80 leading-10 tracking-widest pr-2">
          Can't find what you are looking for? Ping me on
        </p>
        <%= live_component @socket, TwitterIcon %>
      </div>
    </div>
  <% end %>
  <%= if @selected_car.name do %>
    <div id="result" x-data="calculations()" data-car="<%= Jason.encode!(@selected_car) %>">
      <div class="flex flex-col lg:flex-row justify-evenly items-center pt-16">
        <button
          @click="selectedPower = 220"
          class="cursor-pointer bg-white w-1/2 lg:w-1/4 h-40 rounded-md shadow-lg text-indigo-900
            text-2xl opacity-90 flex justify-center items-center leading-normal tracking-widest"
          :class="{'ring-8 ring-red-700 ring-opacity-50': selectedPower === 220}">
          220V
        </button>
        <button
          @click="selectedPower = 110"
          class="mt-10 lg:mt-0 cursor-pointer bg-white w-1/2 lg:w-1/4 h-40 rounded-md shadow-lg text-indigo-900
             text-2xl opacity-90 flex justify-center items-center leading-normal tracking-widest"
             :class="{'ring-8 ring-red-700 ring-opacity-50': selectedPower === 110}"
           >
          110V
        </button>
      </div>
      <div class="flex justify-center items-center p-10">
      </div>
      <p class="text-gray-600 text-lg leading-10 tracking-widest">
        When you 🔌 the <span x-text="car.name" class="font-bold text-indigo-900"></span>
        with SoC of <span x-text="`${startingSoc}%`" class="font-bold text-indigo-900"></span>🔋
        and range of <span x-text="`${calculateRangeAtPercentage(startingSoc)} km`" class="font-bold text-indigo-900"></span>
        using <span x-text="`${calculateWatt()} watt`" class="font-bold text-indigo-900"></span>,
        then it will take around <span x-text="calculateChargingTime()" class="font-bold text-indigo-900"></span>
        to reach SoC of <span x-text="`${targetSoc}%`" class="font-bold text-indigo-900"></span>🔋
        and range of <span x-text="`${calculateRangeAtPercentage(targetSoc)} km`" class="font-bold text-indigo-900"></span>.
        The total cost will be <span x-text="`SAR ${calculateChargingCost()}`" class="font-bold text-indigo-900"></span> 💰
      </p>
      <div class="mt-5 text-xs text-center text-gray-600 opacity-80">
        <button class="p-4 cursor-pointer" phx-click="reset">another car? <span class="text-2xl">🧹</span></button>
      </div>
    </div>
  <% end %>
